bin
gen
/obj/
/lib-projects/facebook/bin
/lib-projects/facebook/gen
.gradle/
.idea/
**/.idea/
build/
**/captures
tinker-base
local.properties
*.iml
.DS_Store
settings_self.gradle
*.ec
commit_id.txt
repos/
reports/
**/coremodule.txt
.project
.settings/
.classpath
